.sidebar {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	background-color: #ccc;
	max-width: 300px;
	width: 100%;
	/* min-height: 50vh; */
	padding: 30px 20px;
	margin: 0;
	list-style: none;
}

.sidebar li {
	padding: 10px;
	cursor: pointer;
}